<!DOCTYPE html>
<html>

  <head>
    <script src="jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Compost Monitor - aka "weathervane"</title>
  </head>

  <body>

    <h1>Hi there!</h1>

    <div class="data">
      <div class="dataTitle">Time (at server):</div>
      <div id="timeDisplay">Getting time....</div>
    </div>

    <div class="data">
      <div class="dataTitle">Pile Tempurature:</div>
      <div id="tempDisplay">Getting temperature...</div>
    </div>

    <div class="data">
      <div class="dataTitle">Pile Humidity:</div>
      <div id="humDisplay">Getting humidity...</div>
    </div>

  <script type="text/javascript">
    setInterval(function(){
      $("#timeDisplay").load("/time");
      $("#tempDisplay").load("/sensor/temp");
      $("#humDisplay").load("/sensor/hum");
    }, 5000);
  </script>

  </body>

</html>
